<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<!--
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix">
            <div class="pull-left">
                <h4 class="list-group-item-heading">Recipie Name</h4>
                <p class="list-group-item-text">Description</p>
            </div>
            <span class="pull-right">
                <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2020/08/20/0/FNM_100120-Spinach-Spaetzle_s4x3.jpg.rend.hgtvcom.616.462.suffix/1597931244022.jpeg" alt="spaetzle" class="img-responsive">
            </span>
        </a>
        <app-recipie-item></app-recipie-item>
    </div>
-->
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let r of recipies">

            <div class="pull-left">
                <h4 class="list-group-item-heading">{{r.name}}</h4>
                <p class="list-group-item-text">{{r.description}}</p>
            </div>
            <span class="pull-right">
                <img 
                [src]="r.imagePath"
                alt="r.name" 
                class="img-responsive">
            </span>
            <!--            
                <span class="pull-right">
                <img 
                src="{{ r.imagePath }}" 
                alt="r.name" 
                class="img-responsive">
            </span>
-->
        </a>
        <app-recipie-item></app-recipie-item>
    </div>


</div>